@font-face {
    font-family: "InterThin";
    src: url("../../fonts/Inter-Thin.ttf") format("opentype");
}
@font-face {
    font-family: "InterLight";
    src: url("../../fonts/Inter-Light.ttf") format("opentype");
}
@font-face {
    font-family: "InterExtraLight";
    src: url("../../fonts/Inter-ExtraLight.ttf") format("opentype");
}
@font-face {
    font-family: "InterRegular";
    src: url("../../fonts/Inter-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "InterMedium";
    src: url("../../fonts/Inter-Medium.ttf") format("opentype");
}
@font-face {
    font-family: "InterSemiBold";
    src: url("../../fonts/Inter-SemiBold.ttf") format("opentype");
}
@font-face {
    font-family: "InterBold";
    src: url("../../fonts/Inter-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "InterExtraBold";
    src: url("../../fonts/Inter-ExtraBold.ttf") format("opentype");
}
@font-face {
    font-family: "InterBlack";
    src: url("../../fonts/Inter-Black.ttf") format("opentype");
}