$grid-columns : 12 !default;


$blue: #0d6efd !default;


$primary: #BE2530 !default;

$secondary: linear-gradient(121.66deg, rgba(34, 34, 34, 0.9) 3.96%, rgba(14, 7, 7, 0.9) 104.44%);

$black: #000000;

$white: #ffffff;

$link-color: #0E0E0F;

$smoke: #EEEEEE;

$divider: rgba(1, 0, 0, 0.2);

$bg-secondary: #F8F8F9;