@use "../utils" as *;
.reviews {
    position: relative;
    main {
        position: relative;
        @include flexbox();
        @include flex-direction($value: column);
        background-color: var(--color-bg-secondary);
        .main__wrapper {
            position: relative;
            @include toRem(padding-block, 25);
            @include flexbox();
            @include flex-direction($value: column);
            @include toRem(gap, 15);
            @include respond-above(md) {
                @include flex-direction($value: row);
            }
            .sidebar {
                width: 100%;
                @include respond-above(md) {
                    position: sticky;
                    @include toRem(top, 20);
                    height: 100%;
                    @include toRem(max-width, 345);
                }
                @include respond-above(lg) {
                    @include toRem(max-width, 400);
                }
                aside {
                    width: 100%;
                    position: relative;
                    .card {
                        .divider {
                            padding-inline: 0;
                            margin-inline: 0;
                            &::after {
                                margin-inline: 0;
                            }
                        }
                        .title {
                            @include toRem(font-size, 20);
                            @include toRem(font-size, 24.2);
                            font-family: 'InterMedium';
                            @include toRem(padding-block, 10);
                        }
                        &__header {
                            @include toRem(padding-block-end, 30);
                            .banner-avatar {
                                @include toRem(padding, 15);
                                .banner {
                                    position: relative;
                                    @include toRem(height, 135);
                                    @include toRem(padding, 0);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    @include border-radius(22px);
                                    overflow: hidden;
                                }
                                .avatar {
                                    position: relative;
                                    z-index: 1;
                                    background-color: var(--color-white);
                                    @include toRem(width, 120);
                                    @include toRem(height, 120);
                                    @include toRem(border-radius, 120);
                                    border: 5px solid var(--color-white);
                                    overflow: hidden;
                                    @include toRem(margin-inline-start, 20);
                                    @include toRem(margin-block-start, -80);
                                }
                            }
                            .rating-name {
                                @include flexbox();
                                @include flex-direction($value: column);
                                @include toRem(padding-inline, 20);
                                @include respond-above(sm) {
                                    @include toRem(padding-inline, 30);
                                }
                                .ratings {
                                    @include flexbox();
                                    @include align-items($value: center);
                                    @include toRem(margin-block-start, 20);
                                    span {
                                        @include toRem(font-size, 18);
                                        @include toRem(line-height, 21.78);
                                        font-family: 'InterMedium';
                                        @include toRem(margin-inline-end, 10);
                                    }
                                }
                                .name {
                                    span {
                                        background-color: rgba(190,37,48,0.06);
                                        @include border-radius(2px);
                                        @include toRem(padding-inline, 10);
                                        @include toRem(padding-block, 5);
                                        @include toRem(font-size, 16);
                                        @include toRem(line-height, 19.36);
                                        color: var(--color-primary);
                                    }
                                }
                            }
                        }
                        &__body {
                            @include toRem(padding-inline, 20);
                            @include toRem(padding-block, 20);
                            @include respond-above(sm) {
                                @include toRem(padding-inline, 30);
                            }
                            p {
                                @include toRem(font-size, 16);
                                @include toRem(line-height, 24);
                                color: #585757;
                            }
                            ul {
                                @include flexbox();
                                @include flex-direction($value: column);
                                @include toRem(gap, 10);
                                @include toRem(margin-block-start, 15);
                                li {
                                    @include toRem(font-size, 16);
                                    @include toRem(line-height, 24);
                                    color: #585757;
                                    @include flexbox();
                                    @include align-items($value: center);
                                    .icon {
                                        @include toRem(padding-inline-end, 8);
                                        @include flexbox();
                                        @include align-items($value: center);
                                    }
                                    a {
                                        @include flexbox();
                                        @include align-items($value: center);
                                        color: var(--color-primary);
                                        &.link {
                                            font-family: 'InterMedium';
                                        }
                                    }
                                    p {
                                        @include flexbox();
                                        @include align-items($value: flex-start);
                                        .icon {
                                            @include toRem(margin-block-start, 4)
                                        }
                                    }
                                }
                            }
                        }
                        &__footer {
                            @include flexbox();
                            @include toRem(padding-inline, 20);
                            @include toRem(padding-block, 20);
                            @include toRem(gap, 25);
                            @include respond-above(sm) {
                                @include toRem(padding-inline, 30);
                            }
                            a {
                                @include toRem(width, 45);
                                @include toRem(height, 45);
                                @include toRem(border-radius, 45);
                                background-color: var(--color-bg-secondary);
                                @include flexbox();
                                @include justify-content($value: center);
                                @include align-items($value: center);
                                @include transition(all .3s ease-in-out);
                                &:hover {
                                    background-color: var(--color-primary);
                                    svg path {
                                        fill: var(--color-white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .content__wrapper {
                position: relative;
                @include respond-above(md) {
                    width: calc(100% - 345px);
                }
                @include respond-above(lg) {
                    width: calc(100% - 400px);
                }
                article {
                    width: 100%;
                    position: relative;
                    &:not(:last-child) {
                        @include toRem(margin-block-end, 15);
                    }
                }
            }
        }
    }
}