@use "../utils" as *;
.card {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    @include border-radius(22px);
    box-shadow: 0 8px 8px 16px -6px rgba(24,39,75,0.08);
    &__header, &__body, &__footer {
        position: relative;
    }
}

.common-card {
    .card {
        @include toRem(padding-inline, 20);
        @include toRem(padding-block, 30);
        @include toRem(padding-inline, 20);
        @include respond-above(sm) {
            @include toRem(padding-inline, 35);
        }
        @include respond-above(md) {
            @include toRem(padding-inline, 20);
        }
        @include respond-above(lg) {
            @include toRem(padding-inline, 35);
        }
        box-shadow: 0 8px 16px -6px rgba(24,39,75,0.08);
        .divider {
            padding-inline: 0;
            margin-inline: 0;
            &::after {
                margin-inline: 0;
            }
        }
        &__header {
            @include flexbox();
            .rating-time {
                width: 100%;
                @include flexbox();
                @include flex-wrap($value: wrap);
                @include toRem(row-gap, 10);
                @include justify-content($value: space-between);
                @include align-items($value: center);
                .ratings {
                    @include flexbox();
                    @include align-items($value: center);
                    span {
                        @include toRem(font-size, 18);
                        font-family: 'InterMedium';
                        @include toRem(margin-inline-end, 10);
                    }
                    .stars-rating {
                        @include toRem(margin-inline-start, 10);
                    }
                }
                .time {
                    @include toRem(font-size, 15);
                    @include toRem(line-height, 18.15);
                    color: #585757;
                    opacity: 0.7;
                }
            }
        }
        &__body {
            @include toRem(padding-block, 20);
            p {
                @include toRem(font-size, 16);
                @include toRem(line-height, 24.48);
                color: var(--color-link);
                .link {
                    color: var(--color-primary);
                    text-decoration: underline;
                    @include toRem(margin-inline-start, 5);
                }
            }
        }
        &__footer {
            position: relative;
            @include toRem(padding-block-start, 20);
            .avatar-button {
                @include flexbox();
                @include flex-wrap($value: wrap);
                @include toRem(gap, 10);
                @include align-items($value: center);
                @include justify-content($value: space-between);
                .client-info {
                    @include flexbox();
                    @include align-items($value: center);
                    .avatar {
                        @include toRem(width, 44);
                        @include toRem(height, 44);
                        @include toRem(border-radius, 44);
                        overflow: hidden;
                        @include toRem(margin-inline-end, 13);
                        background-color: #3A3E47;
                        @include flexbox();
                        @include align-items($value: center);
                        @include justify-content($value: center);
                        span {
                            color: var(--color-white);
                            @include toRem(font-size, 16);
                            @include toRem(line-height, 19.36);
                            font-family: 'InterSemiBold';
                        }
                    }
                    .name {
                        @include flexbox();
                        @include flex-direction($value: column);
                        .title {
                            @include toRem(font-size, 16);
                            @include toRem(line-height, 19.36);
                            color: var(--color-link);
                            font-family: 'InterMedium';
                        }
                        span {
                            @include toRem(font-size, 15);
                            @include toRem(line-height, 18.15);
                            color: #585757;
                        }
                    }
                }
            }
        }
    }
}