@use "../utils" as *;

.star-rating {
	display: flex;
	flex-direction: row-reverse;
	@include toRem(font-size, 24);
	justify-content: space-around;
	text-align: center;
	width: 5em;
	input {
		display: none;
	}
	label {
		color: #E3E3E3 !important;
		cursor: pointer;
		&:hover {
			color: var(--color-primary) !important;
			~ {
				label {
					color: var(--color-primary) !important;
				}
			}
		}
	}
	:checked {
		~ {
			label {
				color: var(--color-primary) !important;
			}
		}
	} 
  &.no-hover {
      pointer-events: none;
  }
}
